# AAYA REPORT FOR PERSISTENCY BREAKDOWN

### Import Libraries

In [1]:
import pandas as pd 

import numpy as np 

import re

### Importinfg the Dataset

In [2]:
df = pd.read_excel('AAYA.xlsx')

df.head()

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
0,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,MORT/HO/0000332/2022,2022-05-06,2022-05-06,2023-05-06,2032-05-06,...,WACHIRA BENSON KARIITHI,BUSINESSMAN,LT,CHEQUE,NaN,NaN,NaT,NaN,NaN,0722 725082
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805

In [3]:
df.count

<bound method DataFrame.count of        Agents Code                               Agents Name   Agency Manager  \
0      12130/00056            ABSA BANK INSURANCE AGENCY LTD  ADC 3 - MANAGER
1      12130/00056            ABSA BANK INSURANCE AGENCY LTD  ADC 3 - MANAGER
2      12130/00056            ABSA BANK INSURANCE AGENCY LTD  ADC 3 - MANAGER
3      15600000447  ABSA BANCASSURANCE INTERMEDIARY LIMITED   ADC 3 - MANAGER
4      15600000447  ABSA BANCASSURANCE INTERMEDIARY LIMITED   ADC 3 - MANAGER
...            ...                                       ...              ...
16994         WIAL         WILLIAMS INSURANCE AGENCY LIMITED              NaN
16995         WIAL         WILLIAMS INSURANCE AGENCY LIMITED              NaN
16996        ZRIBL       ZAMARA RISK & INSURANCE BROKERS LTD              NaN
16997        ZRIBL       ZAMARA RISK & INSURANCE BROKERS LTD              NaN
16998        ZRIBL       ZAMARA RISK & INSURANCE BROKERS LTD              NaN

                     Unit Name    Unit Manager         Policy Number  \
0      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS   MORT/HO/0000332/2022
1      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    WBD/HO/0000407/2024
2      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    WBD/HO/0000408/2024
3      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    AEP/HO/0002734/2021
4      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    AEP/HO/0003063/2021
...                        ...             ...                   ...
16994                      NaN             NaN   IPP/HO/0000316/2019
16995                      NaN             NaN   IPP/HO/0000323/2019
16996                      NaN             NaN   ANP/HO/0000176/2022
16997                      NaN             NaN    TA/HO/0000096/2022
16998                      NaN             NaN    TA/HO/0000096/2022

      Date Of Issue Date Of Risk Next Due Date Maturity Date  ...  \
0        2022-05-06   2022-05-06    2023-05-06    2032-05-06  ...
1        2023-12-27   2023-12-27    2035-12-27    2035-12-27  ...
2        2023-12-28   2023-12-28    2033-12-28    2033-12-28  ...
3        2021-06-08   2021-06-08    2022-06-08    2027-06-08  ...
4        2021-12-01   2021-12-01    2027-12-01    2027-12-01  ...
...             ...          ...           ...           ...  ...
16994    2019-10-01   2019-10-01    2020-03-01    2052-10-01  ...
16995    2019-10-01   2019-10-01    2019-11-01    2046-10-01  ...
16996    2022-11-01   2022-12-01    2023-12-01    2023-12-01  ...
16997    2022-09-27   2022-09-27    2024-09-27    2032-08-19  ...
16998    2022-09-27   2022-09-27    2024-09-27    2032-09-27  ...

                 Name of Insured                Occupation  \
0        WACHIRA BENSON KARIITHI               BUSINESSMAN
1        MUENDO SHADRACK MUTHAMA                     OTHER
2             ITATU MARY MUNYIVA  ADMINISTRATIVE ASSISTANT
3                OKURO JOE ODUYA               BUSINESSMAN
4       WANJOHI ELIZABETH WANGUI             BUSINESSWOMAN
...                          ...                       ...
16994   MILLICENT WANJIKU KAMAU                 CONTROLLER
16995        ADRIAN OMONDI OGOL                    ANALYST
16996          INGWE ANNA NAFTAL           BUSINESS PERSON
16997  NAREDDY JAGADESHWAR REDDY                     OTHER
16998  NAREDDY JAGADESHWAR REDDY                     OTHER

           Type Of Policy Pay method  Institution  D.D Day  D.D. Start Date  \
0                      LT     CHEQUE          NaN      NaN              NaT
1              INVESTMENT       CASH          NaN      NaN              NaT
2              INVESTMENT       CASH          NaN      NaN              NaT
3               ENDOWMENT       CASH          NaN     30.0       2021-05-30
4               ENDOWMENT       CASH          NaN      NaN              NaT
...                   ...        ...          ...      ...              ...
16994  PENSION INDIVIDUAL       CASH          NaN      1.0              NaT
16995  PENSION INDIVIDUAL     CHEQUE          NaN      NaN              NaT
16996             ANNUITY       CASH          NaN      1.0              NaT
16997                TERM       CASH          NaN      NaN              NaT
16998                TERM       CASH          NaN      NaN              NaT

       Payroll No  Joint Agent          TEL
0             NaN          NaN  0722 725082
1             NaN          NaN    729006733
2             NaN          NaN    788025568
3             NaN          NaN    722149935
4             NaN          NaN    741436805
...           ...          ...          ...
16994         NaN          NaN    725015178
16995         NaN          NaN    726000751
16996         NaN          NaN    715599699
16997         NaN          NaN    700006822
16998         NaN          NaN    700006822

[16999 rows x 30 columns]>

In [4]:
df.columns

Index(['Agents Code', 'Agents Name', 'Agency Manager', 'Unit Name',
       'Unit Manager', 'Policy Number', 'Date Of Issue', 'Date Of Risk',
       'Next Due Date', 'Maturity Date', 'Paid up to Date', 'Policy Term',
       'Sum ', 'Mode Of Pay', 'Months Paid', 'OS Months', 'Total ',
       'Annualized ', 'Booked Premium', 'Status', 'Name of Insured',
       'Occupation', 'Type Of Policy', 'Pay method', 'Institution', 'D.D Day',
       'D.D. Start Date', 'Payroll No', 'Joint Agent', 'TEL'],
      dtype='object')

### Removing columns where source of business is Direct

In [5]:
df = df[df['Agents Name'] != 'DIRECT']

df.head()

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
0,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,MORT/HO/0000332/2022,2022-05-06,2022-05-06,2023-05-06,2032-05-06,...,WACHIRA BENSON KARIITHI,BUSINESSMAN,LT,CHEQUE,NaN,NaN,NaT,NaN,NaN,0722 725082
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805

### Removing Group Life Business

In [6]:
df.columns

Index(['Agents Code', 'Agents Name', 'Agency Manager', 'Unit Name',
       'Unit Manager', 'Policy Number', 'Date Of Issue', 'Date Of Risk',
       'Next Due Date', 'Maturity Date', 'Paid up to Date', 'Policy Term',
       'Sum ', 'Mode Of Pay', 'Months Paid', 'OS Months', 'Total ',
       'Annualized ', 'Booked Premium', 'Status', 'Name of Insured',
       'Occupation', 'Type Of Policy', 'Pay method', 'Institution', 'D.D Day',
       'D.D. Start Date', 'Payroll No', 'Joint Agent', 'TEL'],
      dtype='object')

In [7]:
df['Type Of Policy'].unique()

array(['LT', 'INVESTMENT', 'ENDOWMENT', 'EDUCATION', 'TERM',
       'PENSION INDIVIDUAL', 'ANNUITY', 'LL'], dtype=object)

In [8]:
df = df[df['Type Of Policy'] != 'LT']

df = df[df['Type Of Policy'] != 'PENSION INDIVIDUAL']

df = df[df['Type Of Policy'] != 'ANNUITY']

df.head()

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805
5,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003166/2022,2022-02-04,2022-02-04,2028-02-04,2028-02-04,...,NYIKAL ROSE ADHIAMBO,LECTURER,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,722248405

### Removing Upendo Products

In [9]:
df.columns

Index(['Agents Code', 'Agents Name', 'Agency Manager', 'Unit Name',
       'Unit Manager', 'Policy Number', 'Date Of Issue', 'Date Of Risk',
       'Next Due Date', 'Maturity Date', 'Paid up to Date', 'Policy Term',
       'Sum ', 'Mode Of Pay', 'Months Paid', 'OS Months', 'Total ',
       'Annualized ', 'Booked Premium', 'Status', 'Name of Insured',
       'Occupation', 'Type Of Policy', 'Pay method', 'Institution', 'D.D Day',
       'D.D. Start Date', 'Payroll No', 'Joint Agent', 'TEL'],
      dtype='object')

In [10]:
# Defining the Specific Column using Regex:

upendo_format = r'\d{6}/\d{2}'

# Remove Rows where 'Policy Number' is an Upendo Product

df = df[~df['Policy Number'].str.match(upendo_format)]

df.head()

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805
5,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003166/2022,2022-02-04,2022-02-04,2028-02-04,2028-02-04,...,NYIKAL ROSE ADHIAMBO,LECTURER,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,722248405

### Removing Duplicate Rows

In [11]:
df.columns

Index(['Agents Code', 'Agents Name', 'Agency Manager', 'Unit Name',
       'Unit Manager', 'Policy Number', 'Date Of Issue', 'Date Of Risk',
       'Next Due Date', 'Maturity Date', 'Paid up to Date', 'Policy Term',
       'Sum ', 'Mode Of Pay', 'Months Paid', 'OS Months', 'Total ',
       'Annualized ', 'Booked Premium', 'Status', 'Name of Insured',
       'Occupation', 'Type Of Policy', 'Pay method', 'Institution', 'D.D Day',
       'D.D. Start Date', 'Payroll No', 'Joint Agent', 'TEL'],
      dtype='object')

In [12]:
# Removing Duplicated Policy Numbers

df = df.drop_duplicates(subset='Policy Number', keep='first')

df.head()

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805
5,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003166/2022,2022-02-04,2022-02-04,2028-02-04,2028-02-04,...,NYIKAL ROSE ADHIAMBO,LECTURER,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,722248405

In [13]:
# Confirm there are no Duplicates in the Policy Numbers

are_duplicates = df['Policy Number'].duplicated().any()

if are_duplicates:
    print('Duplicates Present')
else:
    print('Duplicates Absent')

Duplicates Absent

### Aligning WealthBuidler Premiums

In [14]:
df.columns

Index(['Agents Code', 'Agents Name', 'Agency Manager', 'Unit Name',
       'Unit Manager', 'Policy Number', 'Date Of Issue', 'Date Of Risk',
       'Next Due Date', 'Maturity Date', 'Paid up to Date', 'Policy Term',
       'Sum ', 'Mode Of Pay', 'Months Paid', 'OS Months', 'Total ',
       'Annualized ', 'Booked Premium', 'Status', 'Name of Insured',
       'Occupation', 'Type Of Policy', 'Pay method', 'Institution', 'D.D Day',
       'D.D. Start Date', 'Payroll No', 'Joint Agent', 'TEL'],
      dtype='object')

In [15]:
# Identify rows that match the specified regex pattern

regex_pattern = r'^WBD/([A-Za-z0-9]+)/\d{5,8}/\d{2,4}$'

matching_rows = df['Policy Number'].str.contains(regex_pattern)

# Count the number of rows that match the specified regex pattern in the 'Policy Number' column

matching_rows_count = (df['Policy Number'].str.contains(regex_pattern)).sum()


# Display the count of rows that match the regex pattern

print("\nNumber of rows matching the regex pattern:", matching_rows_count)

Number of rows matching the regex pattern: 485

<ipython-input-15-3dd208bda3bd>:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  matching_rows = df['Policy Number'].str.contains(regex_pattern)
<ipython-input-15-3dd208bda3bd>:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  matching_rows_count = (df['Policy Number'].str.contains(regex_pattern)).sum()

In [16]:
# Define the regex pattern

regex_pattern = r'^WBD/([A-Za-z0-9]+)/\d{5,8}/\d{2,4}$'

# Identify rows that match the specified regex pattern in the 'Policy Number' column

mask = df['Policy Number'].str.contains(regex_pattern)

# Convert string-formatted numeric values to actual numeric values

df['Booked Premium'] = pd.to_numeric(df['Booked Premium'].astype(str).str.replace(',', ''), errors='coerce')

df['Total '] = pd.to_numeric(df['Total '].astype(str).str.replace(',', ''), errors='coerce')

df['Annualized '] = pd.to_numeric(df['Annualized '].astype(str).str.replace(',', ''), errors='coerce')

# Duplicate 'Booked Premium' values to 'Annualized' and 'Total' columns for the matching rows

df.loc[mask, ['Annualized ', 'Total ']] = df.loc[mask, 'Booked Premium'].repeat(2).values.reshape(-1, 2)

df.head()

<ipython-input-16-44e57de6a993>:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df['Policy Number'].str.contains(regex_pattern)

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805
5,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003166/2022,2022-02-04,2022-02-04,2028-02-04,2028-02-04,...,NYIKAL ROSE ADHIAMBO,LECTURER,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,722248405

### Remvoing Test Businesses

In [17]:
# Deleting Rows

df = df[df['Policy Number'] != 'FPC/HO/0005077/2022']

df = df[df['Policy Number'] != 'EDP/THK/0006213/2022']

df = df[df['Policy Number'] != 'END/THK/0004562/2022']

df = df[df['Policy Number'] != 'AEP/THK/0003418/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005147/2021']

df = df[df['Policy Number'] != 'EDP/MBS/0005164/2021']

df = df[df['Policy Number'] != 'EDP/MBS/0006270/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0006428/2022']

df = df[df['Policy Number'] != 'END/MBS/0003674/2021']

df = df[df['Policy Number'] != 'END/MBS/0003674/2021']

df = df[df['Policy Number'] != 'END/MBS/0004528/2022']

df = df[df['Policy Number'] != 'END/MBS/0004552/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005733/2021']

df = df[df['Policy Number'] != 'EDP/MBS/0006178/2022']

df = df[df['Policy Number'] != 'END/MBS/0004092/2021']

df = df[df['Policy Number'] != 'END/MBS/0004480/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005840/2021']

df = df[df['Policy Number'] != 'LEHC/MBS/0004471/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003100/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003101/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003452/2022']

df = df[df['Policy Number'] != 'AEP/HO/0001692/2019']

df = df[df['Policy Number'] != 'EDP/MBS/0004829/2020']

df = df[df['Policy Number'] != 'END/MBS/0003316/2020']

df = df[df['Policy Number'] != 'AEP/MBS/0002481/2021']

df = df[df['Policy Number'] != 'EDP/MBS/0003494/2019']

df = df[df['Policy Number'] != 'EDP/MBS/0003495/2019']

df = df[df['Policy Number'] != 'EDP/MBS/0003496/2019']

df = df[df['Policy Number'] != 'EDP/MBS/0006060/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0006374/2022']

df = df[df['Policy Number'] != 'TA/MBS/0000078/2020']

df = df[df['Policy Number'] != 'EDP/MBS/0004574/2020']

df = df[df['Policy Number'] != 'LEHC/MBS/0004319/2021']

df = df[df['Policy Number'] != 'AEP/MBS/0001674/2019']

df = df[df['Policy Number'] != 'AEP/MBS/0002225/2020']

df = df[df['Policy Number'] != 'EDP/MBS/0005391/2021']

df = df[df['Policy Number'] != 'EDP/MBS/0005401/2021']

df = df[df['Policy Number'] != 'EDP/MBS/0005402/2021']

df = df[df['Policy Number'] != 'END/MBS/0003317/2020']

df = df[df['Policy Number'] != 'END/MBS/0003704/2021']

df = df[df['Policy Number'] != 'LEHC/MBS/0004228/2020']

df = df[df['Policy Number'] != 'AEP/MBS/0002360/2020']

df = df[df['Policy Number'] != 'EDP/MBS/0006321/2022']

df = df[df['Policy Number'] != 'END/MBS/0003669/2021']

df = df[df['Policy Number'] != 'END/MBS/0004434/2022']

df = df[df['Policy Number'] != 'END/MBS/0004478/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005957/2022']

df = df[df['Policy Number'] != 'END/MBS/0004310/2022']

df = df[df['Policy Number'] != 'END/MBS/0004521/2022']

df = df[df['Policy Number'] != 'END/MBS/0004547/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005946/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0006064/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0006164/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0004745/2020']

df = df[df['Policy Number'] != 'EDP/MBS/0004891/2020']

df = df[df['Policy Number'] != 'EDP/MBS/0005958/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003285/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003296/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005943/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0006410/2022']

df = df[df['Policy Number'] != 'END/MBS/0004320/2022']

df = df[df['Policy Number'] != 'END/MBS/0004384/2022']

df = df[df['Policy Number'] != 'END/MBS/0004513/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005116/2021']

df = df[df['Policy Number'] != 'AEP/MBS/0002262/2020']

df = df[df['Policy Number'] != 'AEP/MBS/0002333/2020']

df = df[df['Policy Number'] != 'EDP/MBS/0006062/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0005315/2021']

df = df[df['Policy Number'] != 'END/MBS/0004042/2021']

df = df[df['Policy Number'] != 'LEHC/MBS/0004339/2021']

df = df[df['Policy Number'] != 'END/MBS/0003695/2021']

df = df[df['Policy Number'] != 'LEHC/MBS/0004341/2021']

df = df[df['Policy Number'] != 'END/MBS/0003750/2021']

df = df[df['Policy Number'] != 'AEP/MBS/0003410/2022']

df = df[df['Policy Number'] != 'END/MBS/0004573/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003327/2022']

df = df[df['Policy Number'] != 'AEP/MBS/0003415/2022']

df = df[df['Policy Number'] != 'EDP/MBS/0006506/2022']

df = df[df['Policy Number'] != 'END/MBS/0004601/2022']

df = df[df['Policy Number'] != 'END/MBS/0004870/2023']


df.head()

,Agents Code,Agents Name,Agency Manager,Unit Name,Unit Manager,Policy Number,Date Of Issue,Date Of Risk,Next Due Date,Maturity Date,...,Name of Insured,Occupation,Type Of Policy,Pay method,Institution,D.D Day,D.D. Start Date,Payroll No,Joint Agent,TEL
1,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000407/2024,2023-12-27,2023-12-27,2035-12-27,2035-12-27,...,MUENDO SHADRACK MUTHAMA,OTHER,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,729006733
2,12130/00056,ABSA BANK INSURANCE AGENCY LTD,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,WBD/HO/0000408/2024,2023-12-28,2023-12-28,2033-12-28,2033-12-28,...,ITATU MARY MUNYIVA,ADMINISTRATIVE ASSISTANT,INVESTMENT,CASH,NaN,NaN,NaT,NaN,NaN,788025568
3,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0002734/2021,2021-06-08,2021-06-08,2022-06-08,2027-06-08,...,OKURO JOE ODUYA,BUSINESSMAN,ENDOWMENT,CASH,NaN,30.0,2021-05-30,NaN,NaN,722149935
4,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003063/2021,2021-12-01,2021-12-01,2027-12-01,2027-12-01,...,WANJOHI ELIZABETH WANGUI,BUSINESSWOMAN,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,741436805
5,15600000447,ABSA BANCASSURANCE INTERMEDIARY LIMITED,ADC 3 - MANAGER,UNIT 2 - ADC 3 - BROKER,ADC 3 - BANKS,AEP/HO/0003166/2022,2022-02-04,2022-02-04,2028-02-04,2028-02-04,...,NYIKAL ROSE ADHIAMBO,LECTURER,ENDOWMENT,CASH,NaN,NaN,NaT,NaN,NaN,722248405

In [18]:
df.count

<bound method DataFrame.count of        Agents Code                               Agents Name   Agency Manager  \
1      12130/00056            ABSA BANK INSURANCE AGENCY LTD  ADC 3 - MANAGER
2      12130/00056            ABSA BANK INSURANCE AGENCY LTD  ADC 3 - MANAGER
3      15600000447  ABSA BANCASSURANCE INTERMEDIARY LIMITED   ADC 3 - MANAGER
4      15600000447  ABSA BANCASSURANCE INTERMEDIARY LIMITED   ADC 3 - MANAGER
5      15600000447  ABSA BANCASSURANCE INTERMEDIARY LIMITED   ADC 3 - MANAGER
...            ...                                       ...              ...
16909        23446                    SULEIMAN KWEMOI MAKONG              NaN
16910        23447                   MALACHI ONYONI NYARINGO              NaN
16911        23447                   MALACHI ONYONI NYARINGO              NaN
16986          SEI              SAFE ESTATE INSURANCE AGENCY              NaN
16997        ZRIBL       ZAMARA RISK & INSURANCE BROKERS LTD              NaN

                     Unit Name    Unit Manager         Policy Number  \
1      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    WBD/HO/0000407/2024
2      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    WBD/HO/0000408/2024
3      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    AEP/HO/0002734/2021
4      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    AEP/HO/0003063/2021
5      UNIT 2 - ADC 3 - BROKER  ADC 3 - BANKS    AEP/HO/0003166/2022
...                        ...             ...                   ...
16909                      NaN             NaN  END/ELD/0005947/2024
16910                      NaN             NaN   END/HO/0006025/2024
16911                      NaN             NaN   END/HO/0006026/2024
16986                      NaN             NaN  FPC/MBS/0005218/2023
16997                      NaN             NaN    TA/HO/0000096/2022

      Date Of Issue Date Of Risk Next Due Date Maturity Date  ...  \
1        2023-12-27   2023-12-27    2035-12-27    2035-12-27  ...
2        2023-12-28   2023-12-28    2033-12-28    2033-12-28  ...
3        2021-06-08   2021-06-08    2022-06-08    2027-06-08  ...
4        2021-12-01   2021-12-01    2027-12-01    2027-12-01  ...
5        2022-02-04   2022-02-04    2028-02-04    2028-02-04  ...
...             ...          ...           ...           ...  ...
16909    2024-03-04   2024-03-04    2024-04-04    2044-03-04  ...
16910    2024-04-11   2024-04-11    2024-07-11    2029-04-11  ...
16911    2024-04-11   2024-04-11    2024-07-11    2029-04-11  ...
16986    2023-05-03   2023-05-03    2024-05-03    2033-05-03  ...
16997    2022-09-27   2022-09-27    2024-09-27    2032-08-19  ...

                  Name of Insured                Occupation  Type Of Policy  \
1         MUENDO SHADRACK MUTHAMA                     OTHER      INVESTMENT
2              ITATU MARY MUNYIVA  ADMINISTRATIVE ASSISTANT      INVESTMENT
3                 OKURO JOE ODUYA               BUSINESSMAN       ENDOWMENT
4        WANJOHI ELIZABETH WANGUI             BUSINESSWOMAN       ENDOWMENT
5            NYIKAL ROSE ADHIAMBO                  LECTURER       ENDOWMENT
...                           ...                       ...             ...
16909        SABUNI MOSES MATISI                      OTHER       ENDOWMENT
16910  MAGETO EVERLYNE NYAKERARIO                     OTHER       ENDOWMENT
16911           OYUGI MOKUA JAMES                     OTHER       ENDOWMENT
16986       INGAIRU MERCY MWANIGA                   TEACHER            TERM
16997   NAREDDY JAGADESHWAR REDDY                     OTHER            TERM

           Pay method  Institution  D.D Day  D.D. Start Date  Payroll No  \
1                CASH          NaN      NaN              NaT         NaN
2                CASH          NaN      NaN              NaT         NaN
3                CASH          NaN     30.0       2021-05-30         NaN
4                CASH          NaN      NaN              NaT         NaN
5                CASH          NaN      NaN              NaT         NaN
...               ...          ...      ...              ...         ...
16909  STANDING ORDER   I & M BANK      NaN       2024-03-04         NaN
16910            CASH          NaN      NaN              NaT         NaN
16911            CASH          NaN      NaN              NaT         NaN
16986            CASH          NaN      NaN              NaT         NaN
16997            CASH          NaN      NaN              NaT         NaN

       Joint Agent           TEL
1              NaN     729006733
2              NaN     788025568
3              NaN     722149935
4              NaN     741436805
5              NaN     722248405
...            ...           ...
16909          NaN  254701860101
16910          NaN  254705936898
16911          NaN  254705936898
16986          NaN     711399250
16997          NaN     700006822

[15060 rows x 30 columns]>

### Extracted the Data

In [19]:
df.to_excel('AYAA_NEW.xlsx', index = False)